{
	"env": {
		"browser": true,
		"es2021": true,
		"node": true
	},
	"extends": [
		"plugin:@typescript-eslint/recommended",
		"preact",
		"plugin:jsx-a11y/recommended",
		"prettier",
		"plugin:prettier/recommended"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 12,
		"sourceType": "module"
	},
	"rules": {
		"no-nested-ternary": "off",
		"@typescript-eslint/no-var-requires": "off",
		"comma-dangle": "off",
		"prettier/prettier": [
			"error",
			{
				"endOfLine": "auto"
			}
		]
	}
}
